<h1>Search Results for "<%= @query %>"</h1>

<h2>Cities</h2>
<ul>
  <% @cities.each do |city| %>
    <li><%= city.name %> - <%= city.state %>, <%= city.country %></li>
  <% end %>
</ul>

<h2>Bus Routes</h2>
<ul>
  <% @bus_routes.each do |route| %>
    <li><%= route.name %> (Route Number: <%= route.route_number %>)</li>
  <% end %>
</ul>

<h2>Bus Stops</h2>
<ul>
  <% @stops.each do |stop| %>
    <li><%= stop.name %> - (<%= stop.latitude %>, <%= stop.longitude %>)</li>
  <% end %>
</ul>
