<h1>Stop: <%= @stop.name %></h1>
<p>Latitude: <%= @stop.latitude %></p>
<p>Longitude: <%= @stop.longitude %></p>

<h2>Routes Passing This Stop:</h2>
<% if @stop.bus_routes.any? %>
  <ul>
    <% @stop.bus_routes.each do |route| %>
      <li>
        <%= route.name %> (Route Number: <%= route.route_number %>)
        <a href="<%= bus_route_path(route) %>">View Route</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No routes pass through this stop.</p>
<% end %>
<a href="/stops">Back to Stops</a>
