<h1><%= @city.name %></h1>
<p>State: <%= @city.state %></p>
<p>Country: <%= @city.country %></p>

<h2>Bus Routes in <%= @city.name %></h2>
<ul>
  <% @bus_routes.each do |route| %>
    <li>
      <%= route.name %> (Route Number: <%= route.route_number %>)
      <a href="<%= bus_route_path(route) %>">View Route</a>
    </li>
  <% end %>
</ul>

<!-- Pagination Links for Routes -->
<%= paginate @bus_routes %>

<a href="/cities">Back to Cities</a>
