<h1>All Bus Routes</h1>

<% if @bus_routes.any? %>
  <ul>
    <% @bus_routes.each do |bus_route| %>
      <li>
        <%= bus_route.name.present? ? bus_route.name : "Unnamed Route" %> 
        (Route Number: <%= bus_route.route_number.present? ? bus_route.route_number : "N/A" %>)

        <% if bus_route.city.present? %>
          <p>City: <%= bus_route.city.name %> 
            (<a href="<%= city_path(bus_route.city) %>">View City</a>)
          </p>
        <% else %>
          <p>City: Not Assigned</p>
        <% end %>

        <% if bus_route.transit_agency.present? %>
          <p>Transit Agency: <%= bus_route.transit_agency.name %> 
            (<a href="<%= transit_agency_path(bus_route.transit_agency) %>">View Agency</a>)
          </p>
        <% else %>
          <p>No transit agency assigned to this route.</p>
        <% end %>

        <a href="<%= bus_route_path(bus_route) %>">View Route</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No bus routes available.</p>
<% end %>

<!-- Pagination Links -->
<%= paginate @bus_routes if @bus_routes.respond_to?(:total_pages) %>
