<h1><%= @bus_route.name.present? ? @bus_route.name : "Unnamed Route" %> 
   (Route Number: <%= @bus_route.route_number.present? ? @bus_route.route_number : "N/A" %>)</h1>

<% if @bus_route.city.present? %>
  <p>City: <%= @bus_route.city.name %> 
  (<a href="<%= city_path(@bus_route.city) %>">View City</a>)</p>
<% else %>
  <p>City: Not Assigned</p>
<% end %>

<% if @bus_route.transit_agency.present? %>
  <p>Transit Agency: <%= @bus_route.transit_agency.name %> 
    (<a href="<%= transit_agency_path(@bus_route.transit_agency) %>">View Agency</a>)</p>
<% else %>
  <p>No transit agency assigned to this route.</p>
<% end %>

<h2>Stops on this Route:</h2>
<% if @bus_route.stops.present? && @bus_route.stops.any? %>
  <ul>
    <% @bus_route.stops.each do |stop| %>
      <li>
        <%= stop.name.present? ? stop.name : "Unnamed Stop" %> 
        - (<%= stop.latitude.present? ? stop.latitude : "Unknown" %>, 
           <%= stop.longitude.present? ? stop.longitude : "Unknown" %>)
        <a href="<%= stop_path(stop) %>">View Stop</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No stops available for this route.</p>
<% end %>

<!-- Pagination Links -->
<%= paginate @bus_routes if @bus_routes.respond_to?(:total_pages) %>
